<vscode-button disabled id="start">Start!</vscode-button>

<div class="options-container">
        <label for="dropdown">Choose an option:</label>
        <vscode-dropdown id="dropdown">
            <vscode-option value="option1">Option Label #1</vscode-option>
            <vscode-option value="option2">Option Label #2</vscode-option>
            <vscode-option value="option3">Option Label #3</vscode-option>
        </vscode-dropdown>
</div>
<div class="slider-container">
    <label>selziona la percentuale di generazione frasi</label>
    <input type="range" id="slider" min="0" max="10" step="1" value="50">
    <input type="number" id="sliderValue" min="0" max="10" step="1" value="50">
</div>


<div class="container">
   
    <div class="centered">
        <vscode-text-area id="textContent"resize="both"class="hidden" rows="45" cols="150" autofocus="true"></vscode-text-area>
        <input type="file"  id="fileInput" class="hidden">
         <vscode-progress-ring id="progressRing"></vscode-progress-ring>
        </div>
</div>
