<h1>Insert title here</h1>

<!-- <div class="slider-container">
    <label>Similarity percentage</label>
    <input type="number" id="sliderValue" min="0" max="100" step="1">
    <input type="range" id="slider" min="0" max="100" step="1">
</div> -->

<vscode-button disabled id="start">START</vscode-button>

<div id="container">
    <div class="left-container">
        <vscode-button id="reset" disabled>RESET</vscode-button>
        <div id="content"></div>
        <div class="centered">
            <input type="file" id="fileInput" class="hidden">
            <vscode-progress-ring id="progressRing"></vscode-progress-ring>
        </div>
    </div>

    <div class="right-container">
        <label id="insertedLabel">Manually inserted seed sentences:</label>
        <div id="insertedContent"></div>
        <vscode-text-area id="insertedTextContent" resize="none" rows="1" cols="50" autofocus="true">
        </vscode-text-area>
        <vscode-button id="addSeed">Add seed</vscode-button>
    </div>
</div>