/* general elements */

  h1 {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin: 10px 0 20px 10px;
  }
  
  vscode-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  vscode-checkbox input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* id and class elements */
  
  .slider-container {
    display: flex;
    align-items: center;
    /* position: relative; */
    width: 100%;
    margin: 10px;
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    width: 40px;
    text-align: left;
    color: var(--vscode-button-background);
    background-color: var(--vscode-editorWidget-background);
    border: 1px solid var(--vscode-button-background);
    position: relative;
    
    transform: translateX(-50%);
  }
  
  input[type="range"] {
    width: 80%;
    height: 5px;
    background-color: #313131;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    background-color: var(--vscode-button-background);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }
  
  .slider-container label {
    text-align:center;
    margin-right: 30px;
  }
  
  #start{
    width: 100%;
    margin-bottom: 30px;
    margin-left: 10px;
    align-self: center;
  }
  
  #container {
    display: flex;
    justify-content: space-between;
  }
  
  .left-container {
    position: relative;
    width: 50%;
    
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .centered div {
    text-align: center;
  }
  
  .seed-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .vscode-text-area {
    flex-grow: 1;
   /* margin-right: 8px; /* Distanza tra l'area di testo e il pulsante Salva */
  }
  
  .checkbox-container{
    padding-right: 20px;
  }
  
  
  .right-container {
    position: relative;
    width: 50%;
    padding: 0;
    justify-content: center;
  }
  
  #insertedLabel{
    position: relative;
    align-content: end;
  }
  
  #insertedTextContent, #addSeed{
    width: 100%;
    box-sizing: border-box;
  }
  
  .hidden {
    display: none;
  }