<h1>Test your Skill</h1>

<div class="slider-container">
    <label>Similarity percentage</label>
    <input type="number" id="sliderValue" min="0" max="100" step="1">
    <input type="range" id="slider" min="0" max="100" step="1">
</div>

<vscode-button id="Test">START TESTING</vscode-button>
<div id="content"></div>
        <div class="centered">
            <vscode-progress-ring id="progressRing1"></vscode-progress-ring>
        </div>
    </div>

<div id="container">
   
    <div class="left-container">
    </div>

    <div class="right-container">
    </div>
</div>