<h1>Test Panel</h1>


<vscode-button id="addTest">ADD TEST</vscode-button>
<vscode-button id="start">START ALL TEST</vscode-button>

<div id="all">
    <div id="container">
        <div class="left-container">
            <label id="insertedLabel">insert skill name :</label>
            <vscode-text-area id="insertedTextContent" resize="none" rows="1" cols="50" autofocus="true">
            </vscode-text-area>
            <vscode-button id="saveName">Save Name</vscode-button>
        </div>
    </div>
    <vscode-progress-ring id="progressRing2"></vscode-progress-ring>
</div>